:root{
    --color-terminal: #292929;
    --color-terminal-resultado: #7bff00;
}

* {
    font-family: 'Source Code Pro', monospace;
}

body{
    height: 100vh;
    display: block;
    align-items: flex-start;
    background-color: #003b68;
    color: white;
}

input, button{
    border: none;
    outline: none;
    min-width: 0px;
}

main{
    padding: 20px;
    box-shadow: 8px 8px 20px 0px rgb(0 0 0 / 50%);
    border-radius: var(--border-redondo);
}

h1{
    margin: 0;
}

#cifrador{
    background-color: var(--color-terminal);
    max-width: 100vh;
    display: contents;
    border-radius: 5px;
}

#input-original, #resultado{
    background-color: var(--color-terminal);
    -webkit-appearance: none;
    display: block;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    word-break: break-all;
    width: -webkit-fill-available;
    resize: none;
    overflow-y: hidden;
}

#input-original{
    color: #FFFFFF;
    border: hidden;
}
#resultado{
    color: var(--color-terminal-resultado);
}

#input-original:focus{
    border: hidden;
}


.rango{
    margin: 15px 0;
    display: flex;
    text-align: center;
    align-items: center;
}

#rango[type='range'], #rango[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
}

#rango[type='range']{
    border-radius: 5px;
    background-color: var(--color-terminal);
    margin: 0;
    height: 14px;
}

#rango[type='range']::-webkit-slider-thumb{
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}